.App {
  display: flex;
  flex-flow: column;
  height: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow: auto;
  margin-bottom: 100px; /* Matches footer's height*/
}

.HomePage {
  align-self: center;
}