:root {
  --navy-blue: #003b73;
  --royal-blue: #0074b7;
  --blue-grotto: #60a3d9;
  --baby-blue: #bfd7ed;
  --allstate-blue: #0075b8;
}

body {
  margin: 0;
  height:100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}