.Header {
  background-color: #0075b8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-logo {
  max-width: 220px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

 .nav-links a {
  color: white;
  font-weight: bold;
  padding: .8rem;
}

.nav-links a:hover {
  color: var(--baby-blue);
}

